<h1>GET STEAM NOW</h1>
<h2>IN MINUTES, <em>YOU'LL BE PLAYING YOUR FAVORITE GAMES</em></h2><img src="images/Graphic_box.jpg" alt="" width="24" height="6"><br>
<div class="narrower">
<br>
<!-- <h3>DOWNLOAD LOCATIONS</h3><br> -->
{% for category in categories %}
{% set categoryLinks = links|filter(l => l.category == category.name) %}
{% if categoryLinks|length > 0 %}
<h2>{{ category.name }}:</h2>
{% if categoryLinks|first and categoryLinks|first.label == 'Click here to download the Steam installer' %}
    <a class="maize" href="{{ categoryLinks|first.url }}" style="font-size: 11px;">Click here to download the Steam installer</a>{% if category.file_size %}. (Approx. {{ category.file_size }}){% endif %}<br>
{% else %}
    {% for link in categoryLinks %}
    <a class="maize" href="{{ link.url }}" style="font-size: 11px;">{{ link.label }}</a><br>
    {% endfor %}
{% endif %}
<br>
{% endif %}
{% endfor %}
<table cellpadding="8">
<tr>
<td>After you've started your Steam download from one of the locations listed above, select the option to 'Open' the install program. Then follow the instructions on your screen.</td>
</tr>
</table>
<hr>
{{ system_requirements|raw }}
<hr>
</div>
