<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Welcome to Steam</title>
<link href="styles_global.css" rel="stylesheet" type="text/css"/>
<link href="styles_home.css" rel="stylesheet" type="text/css"/>
<script language="JavaScript" src="minmax.js"></script>
<script language="JavaScript" src="cookies.js"></script>
<script language="JavaScript" src="collapse.js"></script>
<script language="JavaScript" src="swfobject.js"></script>
<script language="JavaScript" src="corners.js"></script>
</head>
<body>
<!-- image preloads -->
<div style="display: none;">
<img alt="" src="img/btn/btn_getSteam_ovr.gif"/>
<img alt="" src="img/btn_right_wd_over.jpg"/>
</div>
{{ header(true) }}
<center>
<div class="contentBG_home">
<div class="headerBG_main">
<div class="leftCol_home">
<div class="leftCol_home_indent">
{{ join_steam_block('2007')|raw }}
{{ storefront_capsules()|raw }}
</div>
</div>
<div class="rightCol_home">
    {{ custom_index_sidebar_configurations()|raw }}
</div>
</div>
<br clear="left">
</div>
{{ footer() }}
</center>
</body>
</html>
