<tr><td height="100%">
    <table align="center" cellspacing="0" cellpadding="0" style="height:100%;">
    <tr>
        <td bgcolor="#FFFFFF" valign="top" style="width:10px;height:10px"><img src="img/storefront/sp_top_left.gif"></td>
        <td bgcolor="#FFFFFF" valign="top" rowspan="3">
            <table align="center" width="736" cellspacing="0" cellpadding="0" border="0" style="height:100%;">
            <tr>
                <td width="10" valign="top" align="left" nowrap></td>
                <td width="118" valign="top" align="left" nowrap>
                    <table cellspacing="0" cellpadding="0">
                    <tr><td height="10"></td></tr>
                    <tr><td nowrap>
                        {% for ln in links %}
                          {% if ln.type == 'spacer' %}
                            <div class="menu_spacer">&nbsp;</div>
                          {% elseif ln.hidden is empty %}
                            {% if ln.current is not empty %}
                              <span><font face="Wingdings 3"><span class="menu_pointer">&#132;</span></font> <a href="{{ ln.url }}" class="menu_item_current">{{ ln.label }}</a></span><br>
                            {% else %}
                              <span><a href="{{ ln.url }}" class="menu_item">{{ ln.label }}</a></span><br>
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                    </td></tr>
                    </table>
                </td>
                <td width="8"><nobr>&nbsp;&nbsp;</nobr></td>
                <td width="100%" valign="top" align="left">
                    <table cellpadding="0" cellspacing="0">
                    <tr><td width="600" height="50" background="img/title_grey.jpg"><span class="page_title">&nbsp;&nbsp;Browse Games</span></td></tr>
                    <tr><td height="10"></td></tr>
                    <tr><td>
                    <span class="normal_text">
                        <span class="browse_section_header">Categories</span><br>
                        <ul>
                        {% for c in categories %}
                         <li><a href="index.php?area=search&Browse=1&category={{ c.id }}">{{ c.name }}</a></li>
                        {% endfor %}
                        </ul>
                        <span class="browse_section_header">Developers</span><br>
                        <ul>
                        {% for d in developers %}
                         <li><a href="index.php?area=search&Browse=1&developer={{ d.id }}">{{ d.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </span>
                    </td></tr>
                    </table>
                </td>
            </tr>
            </table>
        </td>
        <td bgcolor="#FFFFFF" valign="top" style="width:10px;height:10px"><img src="img/storefront/sp_top_right.gif"></td>
    </tr>
    <tr><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td></tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="bottom" style="width:10px;height:10px"><img src="img/storefront/sp_bottom_left.gif"></td>
        <td bgcolor="#FFFFFF" valign="bottom" style="width:10px;height:10px"><img src="img/storefront/sp_bottom_right.gif"></td>
    </tr>
    </table>
</td></tr>
