<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neon CMS Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/style.css">
    <script src="{{ theme_url }}/js/jquery.min.js"></script>
</head>
<body class="admin-{{ page_id }}">
    <header class="admin-header">
        <h1>CMS Administration</h1>
    </header>
    {{ breadcrumbs_html|raw }}
    <div class="container">
        <div class="neon-wrapper">
            <div class="content-wrapper">
                {{ sidebar|raw }}
                {{ content|raw }}
            </div>
        </div>
    </div>
    <script>
    $(function(){
        $('.nav-menu').on('click','.submenu-toggle', function(e){
            e.preventDefault();
            var $btn=$(this);
            var $sub=$('#'+$btn.attr('aria-controls'));
            $sub.slideToggle(150);
            var expanded=$btn.attr('aria-expanded')==='true';
            $btn.attr('aria-expanded', expanded?'false':'true');
        });
        $('.notify-dismiss').on('click', function(e){
            e.preventDefault();
            var id = $(this).data('id');
            var $li = $(this).closest('li');
            $.post('notifications.php', {id:id}).done(function(){
                $li.fadeOut(150, function(){ $(this).remove(); });
            });
        });
        $('body').on('click','.help-icon',function(e){
            e.preventDefault();
            var txt=$(this).data('help');
            if(!txt) return;
            var $m=$('<div class="help-modal" aria-label="Help"><div class="dialog"></div></div>');
            $m.find('.dialog').text(txt);
            $('body').append($m);
            $m.fadeIn(100);
            $m.on('click',function(){ $m.fadeOut(150,function(){ $m.remove(); }); });
        });
    });
    </script>
</body>
</html>
