<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
    <title>{{ board.name }} - Steam Support Site</title>
</head>
<body alink="#938f3c" bgcolor="#626d5c" link="#bfba50" text="#c4cabe" vlink="#938f3c">

{% if banner_ad %}
<p align="center">
    <a href="{{ banner_ad.url }}">
        <img alt="{{ banner_ad.alt }}" border="0" height="60" src="{{ banner_ad.image }}" width="468"/>
    </a>
</p>
{% endif %}

<div align="left">
    <!-- Header Table -->
    <table align="center" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="135" showgridx="" showgridy="" width="800">
        <tr height="16">
            <td colspan="5" height="16" width="799"><spacer height="16" type="block" width="799"/></td>
            <td height="16" width="1"><spacer height="16" type="block" width="1"/></td>
        </tr>
        <tr height="38">
            <td colspan="2" height="38" width="17"><spacer height="38" type="block" width="17"/></td>
            <td align="left" colspan="3" height="38" valign="top" width="782" xpos="17">
                <img border="0" height="29" src="{{ theme_path }}/assets/images/Type_SupportSite2.jpg" width="770"/>
            </td>
            <td height="38" width="1"><spacer height="38" type="block" width="1"/></td>
        </tr>
        <tr height="18">
            <td colspan="3" height="18" width="241"><spacer height="18" type="block" width="241"/></td>
            <td align="left" content="" csheight="71" height="80" rowspan="2" valign="top" width="545" xpos="241">
                <div align="right">
                    <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                        <b><a href="{{ url('home') }}">Home</a></b> |
                        <b><a href="{{ url('support') }}">Support</a></b> |
                        <b><a href="{{ url('forum.index') }}">Forums</a></b> |
                        <b><a href="{{ url('bugs') }}">Bugs</a></b> |
                        <b><a href="{{ url('troubleshooting') }}">Troubleshooting</a></b> |
                        <b><a href="{{ url('contact') }}">Contact</a></b>
                    </font><br/>
                    <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                        {% if current_user %}
                            Welcome, {{ current_user.username }}! |
                            <a href="{{ url('forum.account') }}">Account Options</a> |
                            <a href="{{ url('forum.private_messages') }}">Private Messages ({{ unread_message_count }})</a> |
                            <a href="{{ url('forum.logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ url('forum.register') }}">Create Account</a> |
                            <a href="{{ url('forum.login') }}">Login</a> |
                            <a href="{{ url('forum.forgot_password') }}">Lost Password</a> |
                            <a href="{{ url('forum.private_messages') }}">Private Messages (?)</a>
                        {% endif %}
                    </font>
                </div>
            </td>
            <td height="80" rowspan="2" width="13"><spacer height="80" type="block" width="13"/></td>
            <td height="18" width="1"><spacer height="18" type="block" width="1"/></td>
        </tr>
        <tr height="62">
            <td height="62" width="15"><spacer height="62" type="block" width="15"/></td>
            <td align="left" colspan="2" height="62" valign="top" width="226" xpos="15">
                <img border="0" height="51" src="{{ theme_path }}/assets/images/Logo_Steam2.jpg" width="188"/>
            </td>
            <td height="62" width="1"><spacer height="62" type="block" width="1"/></td>
        </tr>
        <tr cntrlrow="" height="1">
            <td height="1" width="15"><spacer height="1" type="block" width="15"/></td>
            <td height="1" width="2"><spacer height="1" type="block" width="2"/></td>
            <td height="1" width="224"><spacer height="1" type="block" width="224"/></td>
            <td height="1" width="545"><spacer height="1" type="block" width="545"/></td>
            <td height="1" width="13"><spacer height="1" type="block" width="13"/></td>
            <td height="1" width="1"><spacer height="1" type="block" width="1"/></td>
        </tr>
    </table>
    <br/>

    <!-- Main Content Table -->
    <table align="center" bgcolor="#626D5C" border="0" cellpadding="5" cellspacing="0" width="798">
        <tr valign="top">
            <td align="left" bgcolor="#4c5844" width="100%">
                <div align="center">
                    <table border="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="left" width="50%">
                                <font color="#FFFFFF" face="Arial" size="4"><b>{{ board.name }}</b></font><br/>
                                <font face="Arial" size="1">Last Visit: {{ current_user ? (current_user.last_visit ? current_user.last_visit|date('M j, H:i') : 'Never') : 'Never' }} -- Currently: {{ "now"|date('M j, H:i') }}</font>
                            </td>
                            <td width="50%">
                                <p align="right">
                                    <font face="Arial" size="2">
                                        {% if current_user and current_user.can_create_threads %}
                                            <a href="{{ url('forum.post_new_topic', {board_id: board.id}) }}">
                                                <img border="0" height="19" src="{{ theme_path }}/assets/images/buttons/grey/postnewtopic.gif" width="88"/>
                                            </a>
                                        {% endif %}
                                        <a href="{{ url('forum.board', {board_id: board.id}) }}">
                                            <img border="0" height="19" src="{{ theme_path }}/assets/images/buttons/grey/boardlistings.gif" width="82"/>
                                        </a>
                                        <a href="{{ url('forum.search', {board_id: board.id}) }}">
                                            <img border="0" height="19" src="{{ theme_path }}/assets/images/buttons/grey/search.gif" width="48"/>
                                        </a>
                                    </font>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="100%">
                                <font color="4C5844" face="Arial" size="1">.</font>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Thread Header -->
                <div align="center">
                    <center>
                        <table border="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="2%"><font color="#4C5844" size="1">.<font></font></font></td>
                                <td bgcolor="#424B3C" width="48%"><b><font color="#EBEDEA" face="Arial" size="2">Subject</font></b></td>
                                <td align="center" bgcolor="#424B3C" width="10%"><b><font color="#EBEDEA" face="Arial" size="2">Posts</font></b></td>
                                <td align="left" bgcolor="#424B3C" width="20%"><b><font color="#EBEDEA" face="Arial" size="2">Updated</font></b></td>
                                <td align="right" bgcolor="#424B3C" width="20%"><b><font color="#EBEDEA" face="Arial" size="2">Author</font></b></td>
                            </tr>
                        </table>
                    </center>
                </div>

                <!-- Threads -->
                {% for thread in threads %}
                    <div align="center">
                        <center>
                            <table border="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="2%">
                                        <font face="Arial" size="2">
                                            {% if thread.is_pinned %}
                                                <font color="green">📌</font>
                                            {% elseif thread.is_locked %}
                                                <font color="red">🔒</font>
                                            {% else %}
                                                <font color="red">*</font>
                                            {% endif %}
                                        </font>
                                    </td>
                                    <td width="48%">
                                        <font face="Arial" size="2" title="{{ thread.created_at|date('M j, H:i') }}">
                                            <a href="{{ url('forum.thread', {thread_id: thread.id}) }}">{{ thread.title }}</a>
                                        </font>
                                    </td>
                                    <td align="center" width="10%">
                                        <font face="Arial" size="2">{{ thread.post_count }}</font>
                                    </td>
                                    <td align="left" width="20%">
                                        <font face="Arial" size="2">{{ thread.last_post_date|date('M j, H:i') }}</font>
                                    </td>
                                    <td align="right" width="20%">
                                        <font face="Arial" size="2">
                                            <a href="{{ url('forum.user_profile', {username: thread.author_username}) }}" title="Posts: {{ thread.author_post_count|default(0) }} ; Rank: {{ thread.author_rank|default('Bearcub') }}">
                                                {{ thread.author_username }}
                                            </a>
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                {% else %}
                    <div align="center">
                        <center>
                            <table border="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="100%" align="center">
                                        <font face="Arial" size="2" color="#EBEDEA">
                                            <i>No topics in this board yet.</i>
                                        </font>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                {% endfor %}

                <!-- Pagination -->
                {% if pagination.total_pages > 1 %}
                    <br/>
                    <center>
                        <font face="Arial" size="2">
                            <b>{{ pagination.total_threads }} Topic(s). {{ pagination.total_pages }} page(s). Viewing page {{ pagination.current_page }}.</b><br/>
                            
                            {% if pagination.current_page > 1 %}
                                <a href="{{ url('forum.board', {board_id: board.id, page: pagination.current_page - 1}) }}">&lt; Prev</a>
                            {% else %}
                                &lt; Prev
                            {% endif %}
                            
                            [ 
                            {% for page in pagination.pages %}
                                {% if page == pagination.current_page %}
                                    <b>{{ page }}</b>
                                {% else %}
                                    <b><a href="{{ url('forum.board', {board_id: board.id, page: page}) }}">{{ page }}</a></b>
                                {% endif %}
                                {% if not loop.last %} {% endif %}
                            {% endfor %}
                            ]
                            
                            {% if pagination.current_page < pagination.total_pages %}
                                <a href="{{ url('forum.board', {board_id: board.id, page: pagination.current_page + 1}) }}">Next &gt;</a>
                            {% else %}
                                Next &gt;
                            {% endif %}
                        </font>
                    </center>
                {% endif %}

                <!-- Moderators -->
                <div align="center">
                    <table border="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="50%"><font color="#4C5844" face="Arial" size="1">.</font></td>
                            <td width="50%"><font color="#4C5844" face="Arial" size="1">.</font></td>
                        </tr>
                        <tr>
                            <td align="right" width="50%">
                                <p align="left"><font face="Arial" size="1"></font></p>
                            </td>
                            <td align="right" width="50%">
                                <font face="Arial">
                                    <font size="1"><b>Moderators on this board:<br/></b></font>
                                    <font face="Arial" size="1">
                                        {% for moderator in moderators %}
                                            <a href="{{ url('forum.user_profile', {username: moderator.username}) }}">{{ moderator.username }}</a>{% if not loop.last %}, {% endif %}
                                        {% else %}
                                            No moderators assigned
                                        {% endfor %}
                                    </font>
                                </font>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" width="100%">
                                <br/><font face="Arial" size="1"><font color="red">*</font> Updated or new since last visit.</font>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <br/>

    <!-- Footer -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="77" showgridx="" showgridy="" width="803">
        <tr height="2">
            <td colspan="4" height="2" width="802"></td>
            <td height="2" width="1"><spacer height="2" type="block" width="1"/></td>
        </tr>
        <tr height="34">
            <td colspan="2" height="34" width="356"></td>
            <td align="left" height="34" valign="top" width="420" xpos="356">
                <img border="0" height="23" src="{{ theme_path }}/assets/images/LOGO_Valve.01.gif" width="82"/>
            </td>
            <td height="74" rowspan="2" width="26"></td>
            <td height="34" width="1"><spacer height="34" type="block" width="1"/></td>
        </tr>
        <tr height="40">
            <td height="40" width="24"></td>
            <td align="left" colspan="2" content="" csheight="40" height="40" valign="top" width="752" xpos="24">
                <div align="center">
                    <p>
                        <b><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                            <a href="{{ url('home') }}">Home</a></font></b> |
                        <b><a href="{{ url('support') }}">Support</a></b> |
                        <b><a href="{{ url('forum.index') }}">Forums</a></b> |
                        <b><a href="{{ url('bugs') }}">Bugs</a></b> |
                        <b><a href="{{ url('troubleshooting') }}">Troubleshooting</a></b> |
                        <b><a href="{{ url('contact') }}">Contact</a></b><br/>
                        <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                            © 2001 Valve, L.L.C. All rights reserved. Steam, the Steam logo, Valve, and the Valve logo are trademarks and/or registered trademarks of Valve, L.L.C.
                        </font><br/>
                        <font size="2">
                            <b><a href="{{ url('donations') }}">Please Donate to Chatbear!</a></b> - 
                            {{ load_time }} second(s) - 
                            <a href="{{ url('terms') }}">Terms and Conditions</a>.
                        </font>
                    </p>
                </div>
            </td>
            <td height="40" width="1"><spacer height="40" type="block" width="1"/></td>
        </tr>
        <tr cntrlrow="" height="1">
            <td height="1" width="24"><spacer height="1" type="block" width="24"/></td>
            <td height="1" width="332"><spacer height="1" type="block" width="332"/></td>
            <td height="1" width="420"><spacer height="1" type="block" width="420"/></td>
            <td height="1" width="26"><spacer height="1" type="block" width="26"/></td>
            <td height="1" width="1"></td>
        </tr>
    </table>
    <p></p>
    <p></p>
</div>
</body>
</html>