<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
    <title>Post Message - Steam Support Site</title>
</head>
<body alink="#938f3c" bgcolor="#626d5c" link="#bfba50" text="#c4cabe" vlink="#938f3c">

{% if banner_ad %}
<p align="center">
    <a href="{{ banner_ad.url }}">
        <img alt="{{ banner_ad.alt }}" border="0" height="60" src="{{ banner_ad.image }}" width="468"/>
    </a>
</p>
{% endif %}

<div align="left">
    <!-- Header Table -->
    <table align="center" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="135" showgridx="" showgridy="" width="800">
        <tr height="16">
            <td colspan="5" height="16" width="799"><spacer height="16" type="block" width="799"/></td>
            <td height="16" width="1"><spacer height="16" type="block" width="1"/></td>
        </tr>
        <tr height="38">
            <td colspan="2" height="38" width="17"><spacer height="38" type="block" width="17"/></td>
            <td align="left" colspan="3" height="38" valign="top" width="782" xpos="17">
                <img border="0" height="29" src="{{ theme_path }}/assets/images/Type_SupportSite2.jpg" width="770"/>
            </td>
            <td height="38" width="1"><spacer height="38" type="block" width="1"/></td>
        </tr>
        <tr height="18">
            <td colspan="3" height="18" width="241"><spacer height="18" type="block" width="241"/></td>
            <td align="left" content="" csheight="71" height="80" rowspan="2" valign="top" width="545" xpos="241">
                <div align="right">
                    <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                        <b><a href="{{ url('home') }}">Home</a></b> |
                        <b><a href="{{ url('support') }}">Support</a></b> |
                        <b><a href="{{ url('forum.index') }}">Forums</a></b> |
                        <b><a href="{{ url('bugs') }}">Bugs</a></b> |
                        <b><a href="{{ url('troubleshooting') }}">Troubleshooting</a></b> |
                        <b><a href="{{ url('contact') }}">Contact</a></b>
                    </font><br/>
                    <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                        {% if current_user %}
                            Welcome, {{ current_user.username }}! |
                            <a href="{{ url('forum.account') }}">Account Options</a> |
                            <a href="{{ url('forum.private_messages') }}">Private Messages ({{ unread_message_count }})</a> |
                            <a href="{{ url('forum.logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ url('forum.register') }}">Create Account</a> |
                            <a href="{{ url('forum.login') }}">Login</a> |
                            <a href="{{ url('forum.forgot_password') }}">Lost Password</a> |
                            <a href="{{ url('forum.private_messages') }}">Private Messages (?)</a>
                        {% endif %}
                    </font>
                </div>
            </td>
            <td height="80" rowspan="2" width="13"><spacer height="80" type="block" width="13"/></td>
            <td height="18" width="1"><spacer height="18" type="block" width="1"/></td>
        </tr>
        <tr height="62">
            <td height="62" width="15"><spacer height="62" type="block" width="15"/></td>
            <td align="left" colspan="2" height="62" valign="top" width="226" xpos="15">
                <img border="0" height="51" src="{{ theme_path }}/assets/images/Logo_Steam2.jpg" width="188"/>
            </td>
            <td height="62" width="1"><spacer height="62" type="block" width="1"/></td>
        </tr>
        <tr cntrlrow="" height="1">
            <td height="1" width="15"><spacer height="1" type="block" width="15"/></td>
            <td height="1" width="2"><spacer height="1" type="block" width="2"/></td>
            <td height="1" width="224"><spacer height="1" type="block" width="224"/></td>
            <td height="1" width="545"><spacer height="1" type="block" width="545"/></td>
            <td height="1" width="13"><spacer height="1" type="block" width="13"/></td>
            <td height="1" width="1"><spacer height="1" type="block" width="1"/></td>
        </tr>
    </table>
    <br/>

    <!-- Main Content Table -->
    <table align="center" bgcolor="#626D5C" border="0" cellpadding="5" cellspacing="0" width="798">
        <tr valign="top">
            <td align="left" bgcolor="#4c5844" width="100%">
                <div align="center">
                    <center>
                        <table border="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="100%">
                                    <b><font color="#FFFFFF" face="Arial" size="5">Post Message</font><font face="Arial" size="2"><br/></font></b>
                                    <font face="Arial" size="2">
                                        Enter the details of the message you'd like to post in the boxes below and click the button at the bottom of the form.
                                        <b></b>
                                    </font>
                                    
                                    {% if errors %}
                                        <p><font color="red" face="Arial" size="2">
                                            {% for error in errors %}
                                                {{ error }}<br/>
                                            {% endfor %}
                                        </font></p>
                                    {% endif %}

                                    <p><font face="Arial" size="2"></font></p>
                                    
                                    <form action="{{ url('forum.post_submit') }}" enctype="multipart/form-data" method="POST">
                                        <input name="csrf_token" type="hidden" value="{{ csrf_token }}"/>
                                        <input name="board_id" type="hidden" value="{{ board_id }}"/>
                                        <input name="thread_id" type="hidden" value="{{ thread_id|default(0) }}"/>
                                        <input name="reply_to" type="hidden" value="{{ reply_to|default(0) }}"/>
                                        
                                        <table border="0" cellspacing="0" width="100%">
                                            {% if thread_id == 0 %}
                                            <tr>
                                                <td width="20%"><font face="Arial" size="2">Subject</font></td>
                                                <td width="80%">
                                                    <input maxlength="100" name="subject" size="30" type="text" value="{{ post_data.subject|default('') }}" required/>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td width="20%"><font face="Arial" size="2">Message</font></td>
                                                <td width="80%">
                                                    <textarea cols="60" name="message" rows="8" wrap="virtual" required>{{ post_data.message|default('') }}</textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"><font face="Arial" size="2">Notify</font></td>
                                                <td width="80%">
                                                    <font face="Arial" size="2">
                                                        <input name="alert" type="checkbox" value="ON" {{ post_data.alert ? 'checked' : '' }}/>
                                                        <a href="#" target="_blank">Bearkey Alert</a> me when this topic is updated (registered users only)<br/>
                                                        <input name="notify" type="checkbox" value="ON" {{ post_data.notify ? 'checked' : '' }}/>
                                                        Email me when this topic is updated (registered users only)
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" width="100%">
                                                    <font color="#4C5844" face="Arial" size="2">.</font>
                                                </td>
                                            </tr>
                                            
                                            {% if not current_user %}
                                            <tr>
                                                <td width="20%"></td>
                                                <td width="80%">
                                                    <font face="Arial" size="2">Email </font>
                                                    <input name="email" size="10" type="email" value="{{ post_data.email|default('') }}" required/>
                                                    <font face="Arial" size="2">Password </font>
                                                    <input maxlength="50" name="password" size="8" type="password" value="" required/>
                                                    <input name="rememberme" type="checkbox" value="ON"/>
                                                    <font face="Arial" size="2">Remember Me</font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%"></td>
                                                <td width="80%">
                                                    <font face="Arial" size="2">
                                                        If you don't already have an account, you can 
                                                        <a href="{{ url('forum.register') }}">signup for one here</a>.<br/>
                                                        If you have a signature setup, it will be automatically appended to your message.
                                                    </font>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                        
                                        <p align="center">
                                            <center>
                                                <font face="Arial" size="2">
                                                    {% if current_user %}
                                                        <input name="postsubmit" type="submit" value="Post Message"/>
                                                    {% else %}
                                                        <input name="postlogin" type="submit" value="Post with Login (email/pw required)"/>
                                                    {% endif %}
                                                </font>
                                            </center>
                                        </p>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </center>

                    <!-- BB Code Help -->
                    <p align="left">
                        <b><font face="Arial" size="2">Special Codes</font></b>
                        <ul type="square">
                            <li><font face="Arial" size="2">b[<b>bold text</b>]b</font></li>
                            <li><font face="Arial" size="2">i[<i>italic text</i>]i</font></li>
                            <li><font face="Arial" size="2">u[<u>underline text</u>]u</font></li>
                            <li><font face="Arial" size="2">-[<strike>strikethrough text</strike>]-</font></li>
                            <li><font face="Arial" size="2">q[quote text (indented)]q</font></li>
                            <li><font face="Arial" size="2">+[bullet point]+</font></li>
                            <li><font face="Arial" size="2">c[code text]c</font></li>
                            <li><font face="Arial" size="2">1{<font color="#d6e4e2">coloured text 1</font>}1</font></li>
                            <li><font face="Arial" size="2">2{<font color="#eecfcc">coloured text 2</font>}2</font></li>
                            <li><font face="Arial" size="2">3{<font color="#cceed2">coloured text 3</font>}3</font></li>
                            <li><font face="Arial" size="2">4{<font color="#cfd5f5">coloured text 4</font>}4</font></li>
                        </ul>
                        <center></center>
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>

<br/>

<!-- Footer -->
<table align="center" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="77" showgridx="" showgridy="" width="803">
    <tr height="2">
        <td colspan="4" height="2" width="802"></td>
        <td height="2" width="1"><spacer height="2" type="block" width="1"/></td>
    </tr>
    <tr height="34">
        <td colspan="2" height="34" width="356"></td>
        <td align="left" height="34" valign="top" width="420" xpos="356">
            <img border="0" height="23" src="{{ theme_path }}/assets/images/LOGO_Valve.01.gif" width="82"/>
        </td>
        <td height="74" rowspan="2" width="26"></td>
        <td height="34" width="1"><spacer height="34" type="block" width="1"/></td>
    </tr>
    <tr height="40">
        <td height="40" width="24"></td>
        <td align="left" colspan="2" content="" csheight="40" height="40" valign="top" width="752" xpos="24">
            <div align="center">
                <p>
                    <b><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
                        <a href="{{ url('home') }}">Home</a></font></b> |
                    <b><a href="{{ url('support') }}">Support</a></b> |
                    <b><a href="{{ url('forum.index') }}">Forums</a></b> |
                    <b><a href="{{ url('bugs') }}">Bugs</a></b> |
                    <b><a href="{{ url('troubleshooting') }}">Troubleshooting</a></b> |
                    <b><a href="{{ url('contact') }}">Contact</a></b><br/>
                    <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">
                        © 2001 Valve, L.L.C. All rights reserved. Steam, the Steam logo, Valve, and the Valve logo are trademarks and/or registered trademarks of Valve, L.L.C.
                    </font><br/>
                    <font size="2">
                        <b><a href="{{ url('donations') }}">Please Donate to Chatbear!</a></b> - 
                        {{ load_time }} second(s) - 
                        <a href="{{ url('terms') }}">Terms and Conditions</a>.
                    </font>
                </p>
            </div>
        </td>
        <td height="40" width="1"><spacer height="40" type="block" width="1"/></td>
    </tr>
    <tr cntrlrow="" height="1">
        <td height="1" width="24"><spacer height="1" type="block" width="24"/></td>
        <td height="1" width="332"><spacer height="1" type="block" width="332"/></td>
        <td height="1" width="420"><spacer height="1" type="block" width="420"/></td>
        <td height="1" width="26"><spacer height="1" type="block" width="26"/></td>
        <td height="1" width="1"></td>
    </tr>
</table>
<p></p>
<p></p>

</body>
</html>