<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Welcome to Steam</title>
<link href="styles_global.css" rel="stylesheet" type="text/css">
<link href="styles_capsules.css" rel="stylesheet" type="text/css">
<link href="styles_content.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- image preloads -->
<div style="display: none;">
<img alt="" src="btn_getSteam_ovr.gif">
<img alt="" src="btn_right_wd_over.jpg">
</div>
{{ header_logo('logo_steam_main.jpg') }}
{{ header(true) }}
<center>
<div class="contentBG_1">
<div class="headerBG_1">
<div class="leftCol_1">
{{ join_steam_block('2006')|raw }}
{{ storefront_capsules()|raw }}
</div>
<div class="rightCol_1">
<div align="center" class="btn_getSteam" onclick="location.href='index.php?area=getsteamnow'" onmouseout="this.style.background='url(btn_getSteam.gif)'" onmouseover="this.style.background='url(btn_getSteam_ovr.gif)'" style="CURSOR:pointer;" title="Click for Details">
Get Steam Now !
</div>
<div class="btn_getSteam_sub">Everything you need to start playing now!</div>
<br>
<h1><img align="absmiddle" alt="NEW!" height="16" src="ico/ico_new_16.gif" width="16"> {{ new_on_steam_title() }}</h1>
{{ new_on_steam_list()|raw }}
<div class="rightColHr"></div>
<h1><img align="absmiddle" alt="Find" height="16" src="ico/ico_srch_16.gif" width="16"> {{ find_title() }}</h1>
{{ find_list()|raw }}
{{ categories_list()|raw }}
<div class="rightColHr"></div>
<h1><img align="absmiddle" alt="News" height="16" src="ico/ico_docs_16.gif" width="16"> {{ latest_news_title() }}</h1>
{{ news_index_2006()|raw }}
<div class="rightColHr" style="padding-bottom: 0px; margin-bottom: 0px;"></div>
</div>
</div>
<br clear="left">
</div>
{{ footer() }}
</center>
</body>
</html>
