<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>Steam Games - Browse Games</title>
    <script language="JavaScript" src="javascript.js"></script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="no-cache" http-equiv="pragma"/>
    <meta content="ALL" name="ROBOTS"/>
    <meta content="SteamPowered" name="DESCRIPTION"/>
    <meta content="Steam, account, account creation, signup" name="KEYWORDS"/>
    <meta content="Valve LLC" name="AUTHOR"/>
    <link href="storefront.css" rel="stylesheet" type="text/css"/>
    <link href="webicon.png" rel="Shortcut Icon" type="image/png"/>
    <link href="rss.xml" rel="alternate" title="Valve RSS News Feed" type="application/rss+xml">
      <style>
          .footer .footerfix { color: #75806f !important; }
      </style>
</head>
<body style="background: #4c5844; margin: 0px 0px 0px 0px; line-height: 12px; font-size: 8px; font-family: Verdana, Arial, Helvetica;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="height: 100%;">
<tr>
	<td>
		{{ header() }}
	</td>
</tr>
<tr>
	<td height="100%" valign="top">
<table align="center" cellpadding="0" cellspacing="0">
<tr>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="top"><img src="sp_top_left.gif"/></td>
<td bgcolor="#FFFFFF" rowspan="3" valign="top">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 100%;" width="736">
<tr>
<td align="left" nowrap="" valign="top" width="10"></td>
<td align="left" nowrap="" style="display: inline" valign="top" width="118">
<table cellpadding="0" cellspacing="0">
<tr>
<td height="10"></td>
</tr>
<tr>
<td nowrap="">
{{ store_sidebar() }}
</td>
</tr>
</table>
</td>
<td style="display: inline" width="8"><nobr></nobr></td>
<td align="left" style="height: 100%" valign="top" width="100%">
<table cellpadding="0" cellspacing="0">
<tr>
<td background="title_red.jpg" height="50" width="600"><span class="page_title">&nbsp;&nbsp;Browse Games</span></td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td><span class="browse_section_header">Categories</span></td>
</tr>
<tr>
<td height="5"></td>
</tr>
<tr>
<td>
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top" width="33%">
{% for category in categories %}
  {% if loop.index0 < (categories|length / 3)|round %}
<a class="browse_link" href="search.php?browse=1&category={{ category.id }}">{{ category.name }}</a><br/>
  {% endif %}
{% endfor %}
</td>
<td valign="top" width="33%">
{% for category in categories %}
  {% if loop.index0 >= (categories|length / 3)|round and loop.index0 < (categories|length * 2 / 3)|round %}
<a class="browse_link" href="search.php?browse=1&category={{ category.id }}">{{ category.name }}</a><br/>
  {% endif %}
{% endfor %}
</td>
<td valign="top" width="33%">
{% for category in categories %}
  {% if loop.index0 >= (categories|length * 2 / 3)|round %}
<a class="browse_link" href="search.php?browse=1&category={{ category.id }}">{{ category.name }}</a><br/>
  {% endif %}
{% endfor %}
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td><span class="line_spacer"></span></td>
</tr>
<tr>
<td><span class="browse_section_header">Developers</span></td>
</tr>
<tr>
<td height="5"></td>
</tr>
<tr>
<td>
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top" width="33%">
{% for developer in developers %}
  {% if loop.index0 < (developers|length / 3)|round %}
<a class="browse_link" href="search.php?browse=1&developer={{ developer.name|url_encode }}">{{ developer.name }}</a><br/>
  {% endif %}
{% endfor %}
</td>
<td valign="top" width="33%">
{% for developer in developers %}
  {% if loop.index0 >= (developers|length / 3)|round and loop.index0 < (developers|length * 2 / 3)|round %}
<a class="browse_link" href="search.php?browse=1&developer={{ developer.name|url_encode }}">{{ developer.name }}</a><br/>
  {% endif %}
{% endfor %}
</td>
<td valign="top" width="33%">
{% for developer in developers %}
  {% if loop.index0 >= (developers|length * 2 / 3)|round %}
<a class="browse_link" href="search.php?browse=1&developer={{ developer.name|url_encode }}">{{ developer.name }}</a><br/>
  {% endif %}
{% endfor %}
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td><span class="line_spacer"></span></td>
</tr>
<tr>
<td><span class="browse_section_header">Price</span></td>
</tr>
<tr>
<td height="5"></td>
</tr>
<tr>
<td>
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top" width="33%">
<a class="browse_link" href="search.php?browse=1&price=1&sort_by=Price&sort_last=Price&sort_order=ASC">Third-party</a><br/>
<a class="browse_link" href="search.php?browse=1&price=1001&sort_by=Price&sort_last=Price&sort_order=ASC">$10 or less</a><br/>
</td>
<td valign="top" width="33%">
<a class="browse_link" href="search.php?browse=1&price=2001&sort_by=Price&sort_last=Price&sort_order=ASC">$20 or less</a><br/>
<a class="browse_link" href="search.php?browse=1&price=3001&sort_by=Price&sort_last=Price&sort_order=ASC">$30 or less</a><br/>
</td>
<td valign="top" width="33%">
<a class="browse_link" href="search.php?browse=1&price=5001&sort_by=Price&sort_last=Price&sort_order=ASC">$50 or less</a><br/>
<a class="browse_link" href="search.php?browse=1&price=999991&sort_by=Price&sort_last=Price&sort_order=ASC">All</a><br/>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td><span class="line_spacer"></span></td>
</tr>
</table><br/>
</td>
</tr>
</table>
</td>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="top"><img src="sp_top_right.gif"/></td>
</tr>
<tr>
<td bgcolor="#FFFFFF"></td>
<td bgcolor="#FFFFFF"></td>
</tr>
<tr>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="bottom"><img src="sp_bottom_left.gif"/></td>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="bottom"><img src="sp_bottom_right.gif"/></td>
</tr>
</table>
	</td>
</tr>
         <tr>
            <td class="footer">
                <!-- begin footer -->
                {{ footer() }}
                <!-- end footer -->
            </td>
         </tr>
</table>
</body>
</html>