<html><head>
	<title>Steam Games</title>
	<script language="JavaScript" src="site/javascript.js"></script><style type="text/css" id="operaUserStyle"></style>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="ROBOTS" content="ALL">
	<meta name="DESCRIPTION" content="SteamPowered">
	<meta name="KEYWORDS" content="Steam, account, account creation, signup">

	<meta name="AUTHOR" content="Valve LLC">
	<link rel="stylesheet" type="text/css" href="storefront.css">
	<link rel="Shortcut Icon" type="image/png" href="http://www.steampowered.com/webicon.png">
	<script language="JavaScript" src="nav.js"></script>
	<link href="http://www.steampowered.com/rss.xml" rel="alternate" type="application/rss+xml" title="Valve RSS News Feed">
</head>

<body style="background: #4c5844; margin: 0px 0px 0px 0px; line-height: 12px; font-size: 8px; font-family: Verdana, Arial, Helvetica;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="height: 100%;">
<tbody><tr>
	<td>

		<!-- begin header -->
		{{header(withButtons=false)}}
		<!-- end header -->

	</td>
</tr>
<tr>
	<td height="100%">
	
		<table cellspacing="0" cellpadding="0" align="center" style="height: 100%;">
		<tbody><tr>
			<td style="width: 10px; height: 10px;" bgcolor="#FFFFFF" valign="top"><img src="sp_top_left.gif"></td>
			<td rowspan="3" bgcolor="#FFFFFF" valign="top">
		
				<table width="736" border="0" cellspacing="0" cellpadding="0" style="height: 100%;" align="center">
				<tbody><tr>
					<td width="10" align="left" valign="top" nowrap=""></td>
					<td width="118" align="left" valign="top" nowrap="">
				
						<table cellspacing="0" cellpadding="0">
		<tbody><tr>
			<td height="10"></td>
		</tr>
		<tr>
			<td nowrap="">

{% for ln in links %}
  {% if ln.type == 'spacer' %}
    <div class="menu_spacer"></div>
  {% elseif ln.hidden is empty %}
    {% if ln.current is not empty %}
      <span><font face="Wingdings 3"><span class="menu_pointer">&#132;</span></font> ,,<a class="menu_item_current" href="{{ ln.url }}">{{ ln.label }}</a></span><br/>
    {% else %}
      <span><a class="menu_item" href="{{ ln.url }}">{{ ln.label }}</a></span><br/>
    {% endif %}
  {% endif %}
{% endfor %}

			</td>
		</tr>
		</tbody></table>
				
					</td>
					<td width="8"><nobr>&nbsp;&nbsp;</nobr></td>
					<td width="100%" align="left" valign="top" style="height: 100%">
				
				<table width="100%" cellpadding="0" cellspacing="0" style="height: 100%;">
<tbody><tr>
	<td align="left" valign="top"><span class="text_normal">
	<table width="100%" cellpadding="0" cellspacing="0">
	<tbody><tr>
		<td width="600" height="50" background="{{ page.titleimage }}"><span class="page_title">&nbsp;&nbsp;{{ page.title }}</span></td>
	</tr>
	<tr><td height="5"></td></tr>
	</tbody></table>
	<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
<!-- begin content area -->
{{ content|raw }}
<!-- end content area -->
	</tbody></table>

	<br><span class="foot_text">&nbsp;</span><br><br>

	</span></td>
</tr>
</tbody></table>
<br>
				
					</td>
				</tr>
				</tbody></table>
				
			</td>
			<td style="width: 10px; height: 10px;" bgcolor="#FFFFFF" valign="top"><img src="sp_top_right.gif"></td>
		</tr>
		<tr>
			<td bgcolor="#FFFFFF"></td>
			<td bgcolor="#FFFFFF"></td>
		</tr>
		<tr>
			<td style="width: 10px; height: 10px;" bgcolor="#FFFFFF" valign="bottom"><img src="sp_bottom_left.gif"></td>
			<td style="width: 10px; height: 10px;" bgcolor="#FFFFFF" valign="bottom"><img src="sp_bottom_right.gif"></td>
		</tr>
		</tbody></table>

	</td>
</tr>
<tr>
	<td>
	
		<!-- begin footer -->
		<div style="float: center; padding: 8px 0px 8px 0px; background: #4c5844; margin-bottom: 0px; width: 100%; font-size: 7pt; line-height: 8pt; color: #75806f; position: relative;">
			<table cellpadding="0" cellspacing="0">
			<tbody><tr>
				<td><a href="http://www.valvesoftware.com"><img src="valve_greenlogo.gif" border="0"></a></td>
		
				<td>&nbsp;</td>
				<td><span style="font-size: 7pt; line-height: 8pt; color: #75806f;">{{ footer() }}</span></td>
				<td width="15%">&nbsp;</td>
			</tr>
			</tbody></table>
		
		</div>
		<!-- end footer -->

	</td>
</tr>
</tbody></table>
	



 
 
 </body></html>