<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

<head>
	<title>Steam Games</title>
	<script language="JavaScript" src="site\javascript.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="pragma" content="no-cache"/>
	<meta name="ROBOTS" content="ALL"/>
	<meta name="DESCRIPTION" content="SteamPowered"/>
	<meta name="KEYWORDS" content="Steam, account, account creation, signup"/>
	<meta name="AUTHOR" content="Valve LLC"/>
	<link rel="stylesheet" type="text/css" href="storefront.css"/>
	<link rel="Shortcut Icon" type="image/png" href="webicon.png"/>
	<script language="JavaScript" src="http://storefront.steampowered.com:80/v2/nav.js"></script>
	<link href="rss.xml" rel="alternate" type="application/rss+xml" title="Valve RSS News Feed">
	</link></head>
<body style="background: #4c5844; margin: 0px 0px 0px 0px; line-height: 12px; font-size: 8px; font-family: Verdana, Arial, Helvetica;">
<table border="0" cellpadding="0" cellspacing="0" style="height: 100%;" width="100%">
<tr>
<td>
<!-- begin header -->
{{ header("true") }}
<!-- end header -->
</td>
</tr>
<tr>
<td height="100%">
<table align="center" cellpadding="0" cellspacing="0" style="height: 100%;">
<tr>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="top"><img src="img\storefront\sp_top_left.gif"/></td>
<td bgcolor="#FFFFFF" rowspan="3" valign="top">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 100%;" width="736">
<tr>
<td align="left" nowrap="" valign="top" width="10"></td>
<td align="left" nowrap="" valign="top" width="118">
<table cellpadding="0" cellspacing="0">
<tr>
<td height="10"></td>
</tr>
<tr>
<td nowrap="">
{% for ln in links %}
  {% if ln.type == 'spacer' %}
    <div class="menu_spacer"> </div>
  {% elseif ln.hidden is empty %}
    {% if ln.current is not empty %}
      <span><font face="Wingdings 3"><span class="menu_pointer">„</span></font> <a class="menu_item_current" href="{{ ln.url }}">{{ ln.label }}</a> </span><br/>
    {% else %}
      <span><a class="menu_item" href="{{ ln.url }}">{{ ln.label }}</a>     </span><br/>
    {% endif %}
  {% endif %}
{% endfor %}
</td>
</tr>
</table>
</td>
<td width="8"><nobr>  </nobr></td>
<td align="left" style="height: 100%" valign="top" width="100%">
<table cellpadding="0" cellspacing="0" style="height: 100%;" width="100%">
<tr>
<td align="left" valign="top"><span class="text_normal">
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
<td background="img\title_blue.jpg" height="50" width="600"><span class="page_title">  {{ page.title }}</span></td>
</tr>
<tr><td height="5"></td></tr>
</table>
{{ content|raw }}
<br/><span class="foot_text"> </span><br/><br/>
</span></td>
</tr>
</table>
<br/>
</td>
</tr>
</table>
</td>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="top"><img src="img\storefront\sp_top_right.gif"/></td>
</tr>
<tr>
<td bgcolor="#FFFFFF"></td>
<td bgcolor="#FFFFFF"></td>
</tr>
<tr>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="bottom"><img src="img\storefront\sp_bottom_left.gif"/></td>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="bottom"><img src="img\storefront\sp_bottom_right.gif"/></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<!-- begin footer -->
<div style="float: center; padding: 8px 0px 8px 0px; background: #4c5844; margin-bottom: 0px; width: 100%; font-size: 7pt; line-height: 8pt; color: #75806f; position: relative;">
<table cellpadding="0" cellspacing="0">
<tr>
<td><a href="http://www.valvesoftware.com"><img border="0" src="img\valve_greenlogo.gif"/></a></td>
<td> </td>
<td><span style="font-size: 7pt; line-height: 8pt; color: #75806f;">© 2005 Valve Corporation. All rights reserved. Valve, the Valve logo, Half-Life, the Half-Life logo, the Lambda logo, Steam, the Steam logo, Team Fortress, the Team Fortress logo, Opposing Force, Day of Defeat, the Day of Defeat logo, Counter-Strike, the Counter-Strike logo, Source, the Source logo, Valve Source and Counter-Strike: Condition Zero are trademarks and/or registered trademarks of Valve Corporation. <a href="http://www.valvesoftware.com/privacy.htm">Privacy Policy</a>. <a href="http://www.valvesoftware.com/legal.htm">Legal</a>. <a href="http://www.steampowered.com/index.php?area=subscriber_agreement">Steam Subscriber Agreement</a>.</span></td>
<td width="15%"> </td>
</tr>
</table>
</div>
<!-- end footer -->
</td>
</tr>
</table>
</body>
</html>
<!-- Proxy IP --> <!-- -->
<!-- Real IP --> <!-- -->
<!-- Date --> <!-- Fri Feb 3 13:33:08 PST 2006 -->