<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
   <head>
      <title>Steam Games - Search</title>
      <script language="JavaScript" src="javascript.js"></script>
      <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
      <meta content="no-cache" http-equiv="pragma"/>
      <meta content="ALL" name="ROBOTS"/>
      <meta content="SteamPowered" name="DESCRIPTION"/>
      <meta content="Steam, account, account creation, signup" name="KEYWORDS"/>
      <meta content="Valve LLC" name="AUTHOR"/>
      <link href="storefront.css" rel="stylesheet" type="text/css"/>
      <link href="webicon.png" rel="Shortcut Icon" type="image/png"/>
      <link href="rss.xml" rel="alternate" title="Valve RSS News Feed" type="application/rss+xml">
      <style>
          .footer .footerfix { color: #75806f !important; }
      </style>
   </head>
   <body style="background: #4c5844; margin: 0px 0px 0px 0px; line-height: 12px; font-size: 8px; font-family: Verdana, Arial, Helvetica;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="height: 100%;">
         <tr>
            <td>
               <!-- begin header -->
               {{ header() }}
               <!-- end header -->
            </td>
         </tr>
         <tr>
            <td height="100%">
               <table align="center" cellpadding="0" cellspacing="0" style="height: 100%;">
                  <tr>
                     <td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="top"><img src="sp_top_left.gif"/></td>
                     <td bgcolor="#FFFFFF" rowspan="3" valign="top">
                        <table width="736" border="0" cellspacing="0" cellpadding="0" style="height: 100%;" align="center">
                           <tr>
                              <td align="left" nowrap align="top" width="10"></td>
                              <td align="left" nowrap valign="top" width="118">
                                 <table cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td height="10"></td>
                                    </tr>
                                    <tr>
                                       <td nowrap="">
                                          {{ store_sidebar() }}
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                              <td width="8">
                                 <nobr></nobr>
                              </td>
                              <td align="left" style="height: 100%" valign="top" width="100%">
                                 <table cellpadding="0" cellspacing="0">
                                    <tr>
                                       <td width="600" height="50" background="title_grey.jpg"><span class="page_title">&nbsp;&nbsp;{% if browse == '1' %}Browse Games{% else %}Search{% endif %}</span></td>
                                    </tr>
                                    <tr>
                                       <td height="10"></td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <span class="normal_text">
                                             {% if browse == '1' and category_name %}
                                             <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 12px; color: Red;">}}</font> <span style="color: #909090; font-family: Tahoma; font-weight: bold; font-size: 10px;">Browsing games in category: {{ category_name }}<br/><br/></span>
                                             {% elseif browse == '1' and developer %}
                                             <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 12px; color: Red;">}}</font> <span style="color: #909090; font-family: Tahoma; font-weight: bold; font-size: 10px;">Browsing games developed by {{ developer }}<br/><br/></span>
                                             {% elseif browse == '1' and prices %}
                                             <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 12px; color: Red;">}}</font> <span style="color: #909090; font-family: Tahoma; font-weight: bold; font-size: 10px;">Browsing games in price range: {{ browse_price }}<br/><br/></span>
                                             {% endif %}
                                             {% if browse != '1' %}
                                             <form action="search.php" method="get">
                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                   <tr>
                                                      <td width="10" height="10" background="search_blue_left_top.gif" nowrap></td>
                                                      <td width="100%" bgcolor="#009ca5"></td>
                                                      <td width="10" height="10" background="search_blue_right_top.gif" nowrap></td>
                                                   </tr>
                                                   <tr>
                                                      <td width="10" background="search_blue_left.gif" nowrap></td>
                                                      <td width="100%" bgcolor="#009ca5">
                                                         <table width="100%" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                               <td width="100%">
                                                                  <table width="100%" cellpadding="0" cellspacing="0">
                                                                     <tr>
                                                                        <td width="100%"><span class="search_form_text">Search Term(s)</span></td>
                                                                     </tr>
                                                                     <tr>
                                                                        <td width="100%"><input type="text" name="term" value="{{ term|default('') }}" maxlength="64" style="width: 100%;"></td>
                                                                     </tr>
                                                                     <tr>
                                                                        <td height="5"></td>
                                                                     </tr>
                                                                     <tr>
                                                                        <td width="100%">
                                                                           <table width="100%" cellpadding="0" cellspacing="0">
                                                                              <tr>
                                                                                 <td width="33%"><span class="search_form_text">Developer</span></td>
                                                                                 <td width="10" nowrap></td>
                                                                                 <td width="33%"><span class="search_form_text">Category</span></td>
                                                                                 <td width="10" nowrap></td>
                                                                                 <td width="33%"><span class="search_form_text">Price</span></td>
                                                                              </tr>
                                                                              <tr>
                                                                                 <td width="33%">
                                                                                    <select name="developer" style="width: 100%;">
                                                                                       <option value="">-</option>
                                                                                       {% for dev in developers %}
                                                                                       <option value="{{ dev.name }}" {% if developer == dev.name %}selected{% endif %}>{{ dev.name }}</option>
                                                                                       {% endfor %}
                                                                                    </select>
                                                                                 </td>
                                                                                 <td width="10" nowrap></td>
                                                                                 <td width="33%">
                                                                                    <select name="category" style="width: 100%;">
                                                                                       <option value="">-</option>
                                                                                       {% for category in categories %}
                                                                                       <option value="{{ category.id }}" {% if category == category.id %}selected{% endif %}>{{ category.name }}</option>
                                                                                       {% endfor %}
                                                                                    </select>
                                                                                 </td>
                                                                                 <td width="10" nowrap></td>
                                                                                 <td width="33%">
                                                                                    <select name="price" style="width: 100%;">
                                                                                       <option value="">-</option>
                                                                                       <option value="1" {% if price == "1" %}selected{% endif %}>Third-party</option>
                                                                                       <option value="1001" {% if price == "1001" %}selected{% endif %}>$10 or less</option>
                                                                                       <option value="2001" {% if price == "2001" %}selected{% endif %}>$20 or less</option>
                                                                                       <option value="3001" {% if price == "3001" %}selected{% endif %}>$30 or less</option>
                                                                                       <option value="4001" {% if price == "4001" %}selected{% endif %}>$40 or less</option>
                                                                                       <option value="5001" {% if price == "5001" %}selected{% endif %}>$50 or less</option>
                                                                                       <option value="999991" {% if price == "999991" %}selected{% endif %}>All</option>
                                                                                    </select>
                                                                                 </td>
                                                                              </tr>
                                                                           </table>
                                                                        </td>
                                                                     </tr>
                                                                  </table>
                                                               </td>
                                                               <td width="10" nowrap></td>
                                                               <td><input type="submit" value="Search"></td>
                                                            </tr>
                                                         </table>
                                                      </td>
                                                      <td width="10" background="search_blue_right.gif" nowrap></td>
                                                   </tr>
                                                   <tr>
                                                      <td width="10" height="10" background="search_blue_left_bottom.gif" nowrap></td>
                                                      <td width="100%" bgcolor="#009ca5"></td>
                                                      <td width="10" height="10" background="search_blue_right_bottom.gif" nowrap></td>
                                                   </tr>
                                                </table>
                                             </form>
                                             {% endif %}
                                             {% if apps|length > 0 %}
                                             <br/>
                                             <table cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                   <td width="5" height="20" nowrap background="endcap_blue_l.gif"></td>
                                                   <td class="h" nowrap width="20%" bgcolor="#5A6A50" height="20" onclick="location.href='{{ sort_links.name }}'">
                                                      <a href="{{ sort_links.name }}" class="header_link_user_admin"><strong>Name</strong>
                                                      {% if sort_by == 'name' %}
                                                      {% if sort_order == 'ASC' %}
                                                      <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">&#112;</font>
                                                      {% else %}
                                                      <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">&#113;</font>
                                                      {% endif %}
                                                      {% endif %}
                                                      </a>
                                                   </td>
                                                   <td width="5" height="20" nowrap background="endcap_blue_r.gif"></td>
                                                   <td width="5" nowrap></td>
                                                   <td width="5" height="20" nowrap background="endcap_blue_l.gif"></td>
                                                   <td class="h" nowrap width="20%" bgcolor="#5A6A50" onclick="location.href='{{ sort_links.developer }}'">
                                                      <a href="{{ sort_links.developer }}" class="header_link_user_admin"><strong>Developer</strong>
                                                      {% if sort_by == 'developer' %}
                                                      {% if sort_order == 'ASC' %}
                                                      <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">&#112;</font>
                                                      {% else %}
                                                      <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">&#113;</font>
                                                      {% endif %}
                                                      {% endif %}
                                                      </a>
                                                   </td>
                                                   <td width="5" height="20" nowrap background="endcap_blue_r.gif"></td>
                                                   <td width="5" nowrap></td>
                                                   <td width="5" height="20" nowrap background="endcap_blue_l.gif"></td>
                                                   <td class="h" nowrap width="20%" bgcolor="#5A6A50" onclick="location.href='{{ sort_links.metacritic }}'">
                                                      <a href="{{ sort_links.metacritic }}" class="header_link_user_admin"><strong>Metascore&reg;</strong>
                                                      {% if sort_by == 'metacritic' %}
                                                      {% if sort_order == 'ASC' %}
                                                      <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">&#112;</font>
                                                      {% else %}
                                                      <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">&#113;</font>
                                                      {% endif %}
                                                      {% endif %}
                                                      </a>
                                                   </td>
                                                   <td width="5" height="20" nowrap background="endcap_blue_r.gif"></td>
                                                   <td width="5" nowrap></td>
                                                   <td width="5" height="20" nowrap background="endcap_blue_l.gif"></td>
                                                   <td class="h" nowrap width="15%" bgcolor="#5A6A50" onclick="location.href='{{ sort_links.price }}'">
                                                      <a href="{{ sort_links.price }}" class="header_link_user_admin"><strong>Price</strong>
                                                      {% if sort_by == 'price' %}
                                                      {% if sort_order == 'ASC' %}
                                                      <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">&#112;</font>
                                                      {% else %}
                                                      <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">&#113;</font>
                                                      {% endif %}
                                                      {% endif %}
                                                      </a>
                                                   </td>
                                                   <td width="5" height="20" nowrap background="endcap_blue_r.gif"></td>
                                                </tr>
                                                <tr>
                                                   <td colspan="15" height="2"></td>
                                                </tr>
                                                {% for app in apps %}
                                                <tr>
                                                   <td colspan="3"><a href="game.php?appid={{ app.appid }}" class="normal_link">{{ app.name }}</a></td>
                                                   <td width="5" nowrap></td>
                                                   <td colspan="3"><span class="normal_text">{{ app.developer|default('-') }}</span></td>
                                                   <td width="5" nowrap></td>
                                                   <td colspan="3"><span class="normal_text">{% if app.metacritic %}{{ app.metacritic }}{% else %}-{% endif %}</span></td>
                                                   <td width="5" nowrap></td>
                                                   <td colspan="3"><span class="normal_text">{% if app.price > 0 %}${{ "%.2f"|format(app.price) }}{% else %}Free{% endif %}</span></td>
                                                </tr>
                                                <tr>
                                                   <td colspan="15" height="5"></td>
                                                </tr>
                                                {% endfor %}
                                             </table>
                                             {% elseif term or developer or category or price %}
                                             <br/>
                                             <div align="center"><em>No games found matching your search criteria.</em></div>
                                             {% else %}
                                             <br/>
                                             <div align="center"><em>Please specify a search term or select a developer or price from the search options.</em></div>
                                             {% endif %}
                                          </span>
                                       </td>
                                    </tr>
                                 </table>
                                 <br/>
                              </td>
                           </tr>
                        </table>
                     </td>
                     <td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="top"><img src="sp_top_right.gif"/></td>
                  </tr>
                  <tr>
                     <td bgcolor="#FFFFFF"></td>
                     <td bgcolor="#FFFFFF"></td>
                  </tr>
                  <tr>
                     <td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="bottom"><img src="sp_bottom_left.gif"/></td>
                     <td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="bottom"><img src="sp_bottom_right.gif"/></td>
                  </tr>
               </table>

            </td>
        </tr>
         <tr>
            <td class="footer">
                <!-- begin footer -->
                {{ footer() }}
                <!-- end footer -->
            </td>
         </tr>
      </table>
   </body>
</html>