<html><head>
<title>Steam Games</title>
<script language="JavaScript" src="site/javascript.js"></script><style type="text/css" id="operaUserStyle"></style>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="no-cache" http-equiv="pragma">
<meta content="ALL" name="ROBOTS">
<meta content="SteamPowered" name="DESCRIPTION">
<meta content="Steam, account, account creation, signup" name="KEYWORDS">
<meta content="Valve LLC" name="AUTHOR">
<link href="storefront.css" rel="stylesheet" type="text/css">
<link href="webicon.png" rel="Shortcut Icon" type="image/png">
<script language="JavaScript" src="http://storefront.steampowered.com:80/v2/nav.js"></script>
<link href="rss.xml" rel="alternate" title="Valve RSS News Feed" type="application/rss+xml">
</head>
<body style="background: #4c5844; margin: 0px 0px 0px 0px; line-height: 12px; font-size: 8px; font-family: Verdana, Arial, Helvetica;">
<table border="0" cellpadding="0" cellspacing="0" style="height: 100%;" width="100%">
<tbody><tr>
<td>
<!-- begin header -->
{{ header(withButtons=false) }}
<!-- end header -->
</td>
</tr>
<tr>
<td height="100%">
<table align="center" cellpadding="0" cellspacing="0" style="height: 100%;">
<tbody><tr>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="top"><img src="img/storefront/sp_top_left.gif"></td>
<td bgcolor="#FFFFFF" rowspan="3" valign="top">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="height: 100%;" width="736">
<tbody><tr>
<td align="left" nowrap="" valign="top" width="10"></td>
<td align="left" nowrap="" valign="top" width="118">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td height="10"></td>
</tr>
<tr>
<td nowrap="">
<span><a class="menu_item" href="v2/index.php">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
<div class="menu_spacer">&nbsp;</div>
<span><a class="menu_item" href="v2/index.php?area=browse&amp;">Browse Games</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
<span><font face="Wingdings 3"><span class="menu_pointer">?</span></font> <a class="menu_item_current" href="v2/index.php?area=all&amp;">All Games</a>&nbsp;</span><br>
<span><a class="menu_item" href="v2/index.php?area=search&amp;">Search</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
</td>
</tr>
</tbody></table>
</td>
<td width="8"><nobr>&nbsp;&nbsp;</nobr></td>
<td align="left" style="height: 100%" valign="top" width="100%">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td background="img/title_package.jpg" height="50" width="600"><span class="individual_package_title">&nbsp;&nbsp;{{package.title}}</span></td>
</tr>
<tr>
<td height="10"></td>
</tr>
<tr>
<td><span class="normal_text">
<table cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td></td>
<td colspan="14"><span class="package_header">Games included:</span><br></td>
</tr>
<tr>
<td colspan="15" height="10"></td>
</tr>
<tr>
<td background="img/tab_left_red.gif" height="20" nowrap="" width="5"></td>
<td background="img/tab_middle_red.gif" bgcolor="#800000" height="20" nowrap="" width="100%"><a class="header_link_user_admin" href="v2/index.php?area=package&amp;SubId=36&amp;sort_by=Name&amp;sort_last=Name&amp;sort_order=ASC&amp;"><strong>Name</strong> <font face="Wingdings 3" style="font-family: Wingdings 3; font-size: 9px;">p</font></a></td>
<td background="img/tab_right_red.gif" height="20" nowrap="" width="5"></td>
<td nowrap="" width="5"></td>
<td background="img/tab_left_red.gif" height="20" nowrap="" width="5"></td>
<td background="img/tab_middle_red.gif" bgcolor="#800000" nowrap=""><a class="header_link_user_admin" href="v2/index.php?area=package&amp;SubId=36&amp;sort_by=Developer&amp;sort_last=Name&amp;sort_order=ASC&amp;"><strong>Developer</strong> </a></td>
<td background="img/tab_right_red.gif" height="20" nowrap="" width="5"></td>
<td nowrap="" width="5"></td>
<td background="img/tab_left_red.gif" height="20" nowrap="" width="5"></td>
<td background="img/tab_middle_red.gif" bgcolor="#800000" nowrap=""><a class="header_link_user_admin" href="v2/index.php?area=package&amp;SubId=36&amp;sort_by=ReleaseDate&amp;sort_last=Name&amp;sort_order=ASC&amp;"><strong>Available</strong> </a></td>
<td background="img/tab_right_red.gif" height="20" nowrap="" width="5"></td>
<td nowrap="" width="5"></td>
<td background="img/tab_left_red.gif" height="20" nowrap="" width="5"></td>
<td background="img/tab_middle_red.gif" bgcolor="#800000" nowrap=""><a class="header_link_user_admin" href="v2/index.php?area=package&amp;SubId=36&amp;sort_by=Price&amp;sort_last=Name&amp;sort_order=ASC&amp;"><strong>Price</strong> </a></td>
<td background="img/tab_right_red.gif" height="20" nowrap="" width="5"></td>
</tr>
<tr>
<td colspan="15" height="2"></td>
</tr>
<tr bgcolor="#ffffff" id="row_220" onmouseout="HiLiteRow('row_220', '#ffffff');" onmouseover="HiLiteRow('row_220', '#ECF39D');">
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td height="20" nowrap="" width="100%"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}0&amp;"><span class="normal_text">{{package.game[i].title}}</span></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td nowrap=""><span class="normal_text"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;">{{package.game[i].developer}}</a></span></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td align="center" nowrap=""><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"><span class="normal_text"><span class="ReleaseDateAvailable">{{package.game[i].status}}</span></span></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td align="right" nowrap=""><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"><span class="normal_text">${{package.game[i].price}}</span></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
</tr> <tr bgcolor="#ffffff" id="row_220" onmouseout="HiLiteRow('row_220', '#ffffff');" onmouseover="HiLiteRow('row_220', '#ECF39D');">
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td height="20" nowrap="" width="100%"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}0&amp;"><span class="normal_text">{{package.game[i].title}}</span></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td nowrap=""><span class="normal_text"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;">{{package.game[i].developer}}</a></span></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td align="center" nowrap=""><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"><span class="normal_text"><span class="ReleaseDateAvailable">{{package.game[i].status}}</span></span></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
<td align="right" nowrap=""><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"><span class="normal_text">${{package.game[i].price}}</span></a></td>
<td height="20" nowrap="" width="5"><a class="line_link_game" href="v2/index.php?area=game&amp;AppId={{package.game[i].appid}}&amp;"></a></td>
</tr>
<tr>
<td colspan="15"><div class="menu_spacer"></div></td>
</tr>
<tr>
<td colspan="15">
<table cellpadding="0" cellspacing="0" width="100%">
<tbody><tr>
<td><span class="package_title">Package price:</span></td>
<td align="right">
<span class="package_title">${{package.price}}</span><br>
<span class="discount_text">+ tax </span><br>
</td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td colspan="15" height="10"></td>
</tr>
<tr>
<td align="right" colspan="15">
<table cellpadding="0" cellspacing="0" width="110">
<tbody><tr>
<td background="img/tab_left_red.gif" height="20" nowrap="" width="5"></td>
<td align="center" background="img/tab_middle_red.gif" bgcolor="#800000" nowrap="" width="100%"><a class="purchase_button" href="steam://purchase/{{package.subid}}">Purchase</a></td>
<td background="img/tab_right_red.gif" height="20" nowrap="" width="5"></td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td colspan="15" width="100%"><div class="line_spacer"></div></td>
</tr>
<tr>
<td colspan="15" width="100%">
<table cellpadding="0" cellspacing="0" width="100%"> <tbody><tr> <td nowrap=""><img height="50" src="img/icon_info.gif" width="50"></td> <td nowrap="">&nbsp;</td> <td width="100%">To get this game or package, you need Steam. If you don't yet have it installed, click the button on the right to download Steam now.</td> <td nowrap="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td nowrap=""> <table cellpadding="0" cellspacing="0" width="110">
<tbody><tr>
<td background="img/tab_left_black.gif" height="20" nowrap="" width="5"></td>
<td align="center" bgcolor="#000000" nowrap="" width="100%"><a class="get_steam_button" href="http://www.steampowered.com/?area=getsteamnow">Get Steam Now</a></td>
<td background="img/tab_right_black.gif" height="20" nowrap="" width="5"></td>
</tr>
</tbody></table>
</td> </tr> </tbody></table><br><br>&nbsp;	</td>
</tr>
</tbody></table>
</span></td>
</tr>
</tbody></table><br>
</td>
</tr>
</tbody></table>
</td>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="top"><img src="img/storefront/sp_top_right.gif"></td>
</tr>
<tr>
<td bgcolor="#FFFFFF"></td>
<td bgcolor="#FFFFFF"></td>
</tr>
<tr>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="bottom"><img src="img/storefront/sp_bottom_left.gif"></td>
<td bgcolor="#FFFFFF" style="width: 10px; height: 10px;" valign="bottom"><img src="img/storefront/sp_bottom_right.gif"></td>
</tr>
</tbody></table>
</td>
</tr>
<tr>
<td>
<!-- begin footer -->
<div style="float: center; padding: 8px 0px 8px 0px; background: #4c5844; margin-bottom: 0px; width: 100%; font-size: 7pt; line-height: 8pt; color: #75806f; position: relative;">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td><a href="http://www.valvesoftware.com"><img border="0" src="img/valve_greenlogo.gif"></a></td>
<td>&nbsp;</td>
<td><span style="font-size: 7pt; line-height: 8pt; color: #75806f;">{{ footer() }}</span></td>
<td width="15%">&nbsp;</td>
</tr>
</tbody></table>
</div>
<!-- end footer -->
</td>
</tr>
</tbody></table>




 </body></html>