<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html><head>
        <title>{{ page_title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<meta http-equiv="pragma" content="no-cache">
	<meta name="ROBOTS" content="ALL">
	<meta name="DESCRIPTION" content="SteamPowered">
	<meta name="KEYWORDS" content="Steam, account, account creation, signup">
	<meta name="AUTHOR" content="Valve LLC">
        <link rel="stylesheet" type="text/css" href="{{ enhanced_asset('css/steampowered.css') }}">
        <script src="{{ enhanced_asset('js/nav.js') }}" type="text/javascript"></script>
        <style type="text/css" id="operaUserStyle"></style>
</head>

<body>

{{ header() }}
<div class="content" id="container">
<div id="textcontainer">
    {{ content|raw }}
</div>
</div>
<div class="footer" style="width: 75%; margin-left: 68px;">
{{ footer() }}
</div>
</body></html>