<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CMS Admin</title>
    <link rel="stylesheet" href="{{ theme_url }}/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="{{ theme_url }}/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="{{ theme_url }}/js/chart.min.js"></script>
</head>
<body class="admin-{{ page_id }}">
<header>
    <h1>CMS Administration</h1>
    {{ breadcrumbs_html|raw }}
    {{ notifications_html|raw }}
</header>
<div class="admin-layout">
    {{ sidebar|raw }}
    <main class="admin-content">
        {{ content|raw }}
    </main>
</div>
<script>
$(function(){
    $('.nav-menu').on('click','.submenu-toggle', function(e){
        e.preventDefault();
        var $btn=$(this);
        var $sub=$('#'+$btn.attr('aria-controls'));
        $sub.slideToggle(150);
        var expanded=$btn.attr('aria-expanded')==='true';
        $btn.attr('aria-expanded', expanded?'false':'true');
    });

    $('.nav-menu li').each(function(){
        var $li = $(this);
        var $link = $li.children('a').first();
        var $toggle = $li.children('.submenu-toggle').first();
        var $submenu = $li.children('.sub-menu').first();

        if($toggle.length && $submenu.length) {
            $link.on('click', function(e){
                e.preventDefault();
                $toggle.trigger('click');
                return false;
            });
        }
    });

    $('.notify-dismiss').on('click', function(e){
        e.preventDefault();
        var id = $(this).data('id');
        var $li = $(this).closest('li');
        $.post('notifications.php', {id:id}).done(function(){
            $li.fadeOut(150, function(){ $(this).remove(); });
        });
    });
    $('body').on('click','.help-icon',function(e){
        e.preventDefault();
        var txt=$(this).data('help');
        if(!txt) return;
        var $m=$('<div class="help-modal" aria-label="Help"><div class="dialog"></div></div>');
        $m.find('.dialog').text(txt);
        $('body').append($m);
        $m.fadeIn(100);
        $m.on('click',function(){ $m.fadeOut(150,function(){ $m.remove(); }); });
    });
});
</script>
</body>
</html>
