<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CMS Admin</title>
    <link rel="stylesheet" href="{{ theme_url }}/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="{{ theme_url }}/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="{{ theme_url }}/js/chart.min.js"></script>
</head>
<body class="admin-{{ page_id }}">
<header>
    <h1>CMS Administration</h1>
    {{ breadcrumbs_html|raw }}
    {{ notifications_html|raw }}
</header>
<div class="admin-layout">
    {{ sidebar|raw }}
    <main class="admin-content">
        {{ content|raw }}
    </main>
</div>
<script>
$(function(){
    $('.nav-menu').on('click', 'li > a', function(e){
        var $sub = $(this).siblings('.sub-menu');
        if ($sub.length) {
            e.preventDefault();
            $sub.slideToggle(150);
        }
    });
    $('.notify-dismiss').on('click', function(e){
        e.preventDefault();
        var id = $(this).data('id');
        var $li = $(this).closest('li');
        $.post('notifications.php', {id:id}).done(function(){
            $li.fadeOut(150, function(){ $(this).remove(); });
        });
    });
    $('body').on('click','.help-icon',function(e){
        e.preventDefault();
        var txt=$(this).data('help');
        if(!txt) return;
        var $m=$('<div class="help-modal" aria-label="Help"><div class="dialog"></div></div>');
        $m.find('.dialog').text(txt);
        $('body').append($m);
        $m.fadeIn(100);
        $m.on('click',function(){ $m.fadeOut(150,function(){ $m.remove(); }); });
    });
});
</script>
</body>
</html>
