<!-- Theme-specific CSS -->
<link rel="stylesheet" type="text/css" href="{{ theme_url }}/steam_shared.css">
<link rel="stylesheet" type="text/css" href="{{ theme_url }}/greensteam/greensteam.css">
</head>
<body class="admin-{{ page_id }}">
<div class="desktop">
    <div class="header-bar">
        <div class="header-content">
            <div class="header-title">Steam CMS Administration</div>
            <div class="header-controls">
                <div class="notification-icon" title="Recent Notifications">
                    <span class="icon">🔔</span>
                    <div class="notification-dropdown">
                        <div class="notification-header">Recent Activity</div>
                        <div class="notification-list">
                            <!-- Notifications will be populated via JavaScript -->
                        </div>
                    </div>
                </div>
                <span class="user-info">Logged in as {{ admin_name }}</span>
                <a href="{{ BASE }}/index.php" class="btn btn-small">Home</a>
                <a href="../logout.php" class="btn btn-small">Logout</a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-bar">
        <div class="breadcrumb">{{ breadcrumbs_html|raw }}</div>
    </div>
    {{ sidebar|raw }}
    {{ content|raw }}
</div>
<script>
$(function(){
    // Universal admin functionality now handled by admin_footer.php
});
</script>
<!-- Universal JavaScript functionality and closing tags now loaded from admin_footer.php -->
