<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Welcome to Steam</title>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="favicon.ico" rel="icon" type="image/x-icon"/>
<link href="styles_global.css" rel="stylesheet" type="text/css">
<link href="styles_home.css" rel="stylesheet" type="text/css">
<script language="JavaScript" src="minmax.js"></script>
<script language="JavaScript" src="cookies.js"></script>
<script language="JavaScript" src="collapse.js"></script>
<script language="JavaScript" src="swfobject.js"></script>
<script language="JavaScript" src="corners.js"></script>
<script language="JavaScript" src="javascript.js"></script>
</head>
<body>
<!-- image preloads -->
<div style="display: none;">
<img alt="" src="img/btn/btn_getSteam_ovr.gif"/>
<img alt="" src="img/btn_right_wd_over.jpg"/>
</div>
{{ header(true) }}
<center>
<div class="contentBG_home">
<div class="headerBG_main">
<div class="leftCol_home">
<div class="leftCol_home_indent">
{{ join_steam_block('2007')|raw }}
<div id="first_2_banner" style="display: none;"></div>
{{ capsule_block('top1')|raw }}
{{ capsule_block('top2')|raw }}
<div id="capsule_large">
{{ capsule_block('large')|raw }}
</div>
<div class="leftCol_home_indent">
{{ capsule_block('under1')|raw }}
{{ capsule_block('under2')|raw }}
</div>
{{ capsule_block('bottom1')|raw }}
{{ capsule_block('bottom2')|raw }}
<br clear="left"/>
{{ gear_block()|raw }}
{{ free_block()|raw }}
</div>
</div>
<div class="rightCol_home">
<div class="rightFindSearch">
<form action="index.php" id="searchform" name="searchform">
<input name="area" type="hidden" value="search"/>
<input name="genre" type="hidden" value=""/>
<input name="cc" type="hidden" value="US"/>
<table border="0" cellpadding="0" cellspacing="0" width="300">
<tr>
<td width="20">&nbsp;</td>
<td width="200"><input id="searchterm" maxlength="64" name="term" size="35" type="text"/></td>
<td><a class="btn_search" href="v/index.php?cc=US" onclick="document.searchform.submit();">Search</a></td>
</tr>
</table>
</form>
</div>
<div class="usr_edit_right_header"><div style="float:left;">Find More...</div></div>
{{ find_list()|raw }}
<div id="spotlight_section">
<div class="usr_edit_right_header"><div style="float:left;">Spotlight</div></div>
{{ tabs_block()|raw }}
</div>
<div class="usr_edit_right_header"><div style="float:left;">{{ latest_news_title() }}</div></div>
{{ latest_news_list()|raw }}
<div id="publisher_catalog" style="display: inline;">
<div class="usr_edit_right_header"><div style="float:left;">{{ publisher_catalogs_title() }}</div></div>
{{ publisher_catalogs_list()|raw }}
</div>
<div class="usr_edit_right_header" id="browseCatalog" onclick="toggle_section( 'browseCatalog' );" style="cursor: pointer;">
<div style="float:left;">{{ browse_catalog_title() }}</div>
<div class="usr_edit_right_control" style="cursor: pointer;"><img border="0" height="14" id="browseCatalog_header" width="14"/></div>
</div>
<div id="browseCatalog_content">
{{ find_list()|raw }}
</div>
<script>check_section( 'browseCatalog', 'open' );</script>
<div class="usr_edit_right_header" id="newOnSteam" onclick="toggle_section( 'new_on_steam' );" style="cursor: pointer;">
<div style="float:left;">{{ new_on_steam_title() }}</div>
<div class="usr_edit_right_control" style="cursor: pointer;"><img border="0" height="14" id="new_on_steam_header" width="14"/></div>
</div>
<div class="rightLink_newOnSteam" id="new_on_steam_content">
{{ new_on_steam_list()|raw }}
</div>
<script>check_section( 'new_on_steam', 'closed' );</script>
<div class="usr_edit_right_header" id="soon" onclick="toggle_section( 'soon_on_steam' );" style="cursor: pointer;">
<div style="float:left;">{{ coming_soon_title() }}</div>
<div class="usr_edit_right_control"><img border="0" height="14" id="soon_on_steam_header" width="14"/></div>
</div>
<div id="soon_on_steam_content">
{{ coming_soon_list()|raw }}
</div>
<script>check_section('soon_on_steam','closed');</script>
</div>
</div>
<br clear="left"/>
</div>
{{ footer() }}
</center>
</body>
</html>
