<h1>GET STEAM NOW</h1>
<h2>IN MINUTES, <em>YOU'LL BE PLAYING YOUR FAVORITE GAMES</em></h2>
<img src="images/Graphic_box.jpg" width="24" height="6" alt=""><br>
<div class="narrower">
<br>We've split the Steam installers into seperate versions based on the game cache they include.  Links marked with (BT) require that you have <a href="http://www.filerush.com/forums/viewtopic.php?t=10" target="_blank">Bit Torrent</a> installed.<br>
<br>
<h3>DOWNLOAD LOCATIONS:</h3><br>
{% for category in categories %}
<h2>{{ category.name }}{% if category.file_size %}: ({{ category.file_size }}){% endif %}</h2>
{% set categoryLinks = links|filter(l => l.category == category.name) %}
{% for link in categoryLinks %}
<a class="maize" href="{{ link.url }}" style="font-size: 11px;">{{ link.label }}</a><br>
{% endfor %}
<br>
{% endfor %}
<hr>
{{ system_requirements|raw }}
</div>
