<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{{ html_title() }}</title>
<link href="styles_global.css" rel="stylesheet" type="text/css"/>
<link href="styles_content.css" rel="stylesheet" type="text/css"/>
<script language="JavaScript" src="cookies.js"></script>
<script language="JavaScript" src="collapse.js"></script>
</head>
<body>
{{ header(true) }}
<center>
<div class="contentBG_2">
<div class="headerBG_2">
<div class="leftMenu_2">
{{ store_sidebar()|raw }}
</div>
<div class="leftCol_news">
<div class="leftCol_news_head">{{ steam_news_title() }}</div>
{% if content is defined and content %}
{{ content|raw }}
{% else %}
{{ news('full_article', 10)|raw }}
{% endif %}
</div>
<div class="rightCol_2">
{{ sidebar_right(2007)|raw }}
</div>
<br clear="left"/>
</div>
<br clear="all"/>
</div>
{{ footer() }}
</center>
</body>
</html>
