<!-- Theme-specific CSS -->
<link rel="stylesheet" href="{{ theme_url }}/style.css">
</head>
<body class="admin-{{ page_id }}">&nbsp
<div class="admin-wrapper">
    <header class="admin-header">
        <div class="header-content">
            <h1>CMS Administration</h1>
            <div class="header-controls">
                <div class="notification-icon" title="Recent Notifications">
                    <span class="icon">🔔</span>
                    <div class="notification-dropdown">
                        <div class="notification-header">Recent Activity</div>
                        <div class="notification-list">
                            <!-- Notifications will be populated via JavaScript -->
                        </div>
                    </div>
                </div>
                <span class="user-info">Logged in as {{ admin_name }}</span>
                <a href="{{ BASE }}/index.php" class="btn btn-small">Home</a>
                <a href="../logout.php" class="btn btn-small">Logout</a>
            </div>
        </div>
        {{ breadcrumbs_html|raw }}
        {{ notifications_html|raw }}
    </header>
    <div class="admin-layout">
        {{ sidebar|raw }}
        {{ content|raw }}
    </div>
</div>
<!-- Universal JavaScript functionality and closing tags now loaded from admin_footer.php -->
