<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Welcome to Steam</title>
<link href="styles_global.css" rel="stylesheet" type="text/css">
<link href="styles_capsules.css" rel="stylesheet" type="text/css">
<link href="styles_content.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- image preloads -->
<div style="display: none;">
<img alt="" src="btn_getSteam_ovr.gif">
<img alt="" src="btn_right_wd_over.jpg">
</div>
{{ header_logo('logo_steam_main.jpg') }}
{{ header(true) }}
<center>
<div class="contentBG_1">
<div class="headerBG_1">
<div class="leftCol_1">
{{ join_steam_block('2006')|raw }}
{{ storefront_capsules()|raw }}
</div>
<div class="rightCol_1">
    {{ custom_index_sidebar_configurations()|raw }}
</div>
</div>
<br clear="left">
</div>
{{ footer() }}
</center>
</body>
</html>
