<html><head>
<style type="text/css">
<!--
a {color: #bfba50; text-decoration: none}
a:hover {color: #938f3c; text-decoration:;
font-weight: regular}
-->
</style>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
		<meta name="generator" content="Microsoft FrontPage 4.0">
		<title>Steam Powered</title>
<style media="screen" type="text/css"><!--
#layer1 { position: absolute; top: 230px; left: 171px; width: 734px; height: 523px; visibility: visible }
--></style>
	<style type="text/css" id="operaUserStyle"></style></head>

	<body bgcolor="#626d5c">
		<div align="center">
			<table cool="" width="800" height="159" showgridx="" showgridy="" gridx="16" gridy="16" border="0" cellpadding="0" cellspacing="0" bgcolor="black">
				<tbody><tr height="16">
					<td width="799" height="16" colspan="5"><spacer type="block" width="799" height="16"></spacer></td>
					<td width="1" height="16"><spacer type="block" width="1" height="16"></spacer></td>
				</tr>
				<tr height="35">
					<td width="16" height="35"><spacer type="block" width="16" height="35"></spacer></td>
					<td width="770" height="35" colspan="3" valign="top" align="left" xpos="16"><!-- fixme page title-->
{{ sitetitle }}
<!-- end fixme -->
</td>
					<td width="13" height="142" rowspan="3"><spacer type="block" width="13" height="142"></spacer></td>
					<td width="1" height="35"><spacer type="block" width="1" height="35"></spacer></td>
				</tr>
				<tr height="14">
					<td width="310" height="14" colspan="3"><spacer type="block" width="310" height="14"></spacer></td>
					<td width="476" height="107" rowspan="2" align="left" xpos="310" content="" valign="top" csheight="92">
						<div align="right">
							{{nav_buttons()}}
</div>
					</td>
					<td width="1" height="14"><spacer type="block" width="1" height="14"></spacer></td>
				</tr>
				<tr height="93">
					<td width="17" height="93" colspan="2"><spacer type="block" width="17" height="93"></spacer></td>
					<td width="293" height="93" valign="top" align="left" xpos="17"><!-- fixme logo-->
{{ logo }}
<!-- end fixme -->
</td>
					<td width="1" height="93"><spacer type="block" width="1" height="93"></spacer></td>
				</tr>
				<tr height="1" cntrlrow="">
					<td width="16" height="1"><spacer type="block" width="16" height="1"></spacer></td>
					<td width="1" height="1"><spacer type="block" width="1" height="1"></spacer></td>
					<td width="293" height="1"><spacer type="block" width="293" height="1"></spacer></td>
					<td width="476" height="1"><spacer type="block" width="476" height="1"></spacer></td>
					<td width="13" height="1"><spacer type="block" width="13" height="1"></spacer></td>
					<td width="1" height="1"><spacer type="block" width="1" height="1"></spacer></td>
				</tr>
			</tbody></table>
			<br>
			<table cool="" width="800" height="675" gridx="16" gridy="16" border="0" cellpadding="0" cellspacing="0" showgridx="" showgridy="" bgcolor="#4c5844">
				<tbody>
				<tr>
					<td>
						<div style="padding: 1px 35px 0px 11px;">
{{ content|raw }}
</div><div style="margin-top: 100px;">
<div>
    <center>
        <img src="Valve_CircleR.gif" width="95" height="" border="0" style="margin-left: 6px;">
        <br>
        <p style="margin-top: 5px; margin-bottom: 5px"> <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">{{ nav_buttons() }}</font><font size="2"><b><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular"> | </font></b></font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><a href="Legal.html" target="_self">Legal Documentation<b>&nbsp;</b></a><b>&nbsp;</b><br></font><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">{{ footer() }}</font></p>
    </center>
</div>
</div><br></td></tr></tbody></table></div></body></html>